/*  Nav*/
nav {
  background: #00a94d;
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 10px 0;
}
nav ul {
  float: right;
}
nav ul li {
  line-height: 90px;
}
nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
}
nav p {
  color: #e5e5e5;
}
nav .enlace {
  position: absolute;
}
nav .enlace img.logo {
  width: 100px !important;
}
nav .enlace p {
  margin-bottom: 0 !important;
}

#check {
  display: none;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

/* Banner */
.fondo {
  position: relative;
  background-color: #000;
  z-index: -1;
}

.img-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  margin-left: -15px;
  height: 500px;
}

.texto-header {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  width: 100%;
  padding: 0 15px;
  text-align: center;
}

.btn-green {
  background-color: #00a94d !important;
  border-radius: 15px;
  padding: 5px 10px;
  border: 1px solid #00a94d !important;
  margin-top: 15px;
  cursor: pointer;
}
.btn-green:hover {
  background-color: #1f253d !important;
  border: 1px solid #00a94d !important;
  color: #00a94d !important;
}
.btn-green a {
  color: #e5e5e5;
}
.btn-green a:hover {
  color: #00a94d;
}

.texto-header h1 {
  color: #e5e5e5;
  letter-spacing: 3px;
}

.texto-header h2 {
  color: #e5e5e5;
  letter-spacing: 3px;
}

.texto-header h1 {
  font-size: 40px;
}

.texto-header h2 {
  font-size: 45px;
}

/* Index Inicio */
.container article {
  padding: 20px;
}

.container article.somos {
  background-color: #F5F5F5;
}

.container article.cursos {
  background-color: #E3ECEB;
}

.container article.industria {
  background-color: #EEF4F2;
}

section article.servicios {
  background-color: #1F253D;
  padding: 35px 0;
}

.img-right img {
  border-radius: 20px 0 20px 20px;
}

.img-left img {
  border-radius: 0 20px 20px 20px;
}

.txt-left {
  text-align: initial;
  padding-right: 15px;
}

.txt-right {
  text-align: end;
  padding-left: 15px;
}

.txt-center {
  margin: auto !important;
}

.txt-right {
  color: #1F253D;
}

.txt-left {
  color: #1F253D;
}

.txt-left p {
  margin-top: 15px;
}

.txt-right p {
  margin-top: 15px;
}

.titleServicios p {
  margin-top: 15px;
}

.servicios {
  padding: 30px;
}
.servicios .titleServicios {
  text-align: center;
  color: #F6FFFC;
}

.cServicios > div {
  background-color: #F6FAFD;
  border-radius: 20px;
  color: #1F253D;
}

.serviciosCard {
  margin-top: 30px !important;
  padding: 15px;
}
.serviciosCard h4 {
  padding: 15px 0;
}
.serviciosCard .serviciosLogo {
  width: 30%;
}

/* Index Fin */
/* Nosotros Inicio */
.valores .container article {
  padding: 0px !important;
}
.valores .bckMision, .valores .bckValores, .valores .bckVision {
  background-color: #F5F5F5;
  padding: 30px 0;
}
.valores .bckVision {
  background-color: #E3ECEB;
}
.valores .bckValores {
  background-color: #EEF4F2;
}
.valores .valoresImg {
  margin: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.valores .valoresImg img {
  width: 70%;
}
.valores .valoresTitle {
  padding: 0 20px;
}
.valores .valoresTitle h3 {
  padding: 20px 0;
  color: #00a94d;
}
.valores .valoresTitle p {
  color: #1F253D;
}

.equipo .titleNosotros {
  text-align: center;
  padding: 40px 0;
  color: #1F253D;
}
.equipo .equipoImg {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.equipo .equipoImg .teamImg {
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}
.equipo .equipoImg h4 {
  padding: 20px 0;
  color: #00a94d;
  text-align: center;
}

/* Nosotros Fin */
/* Cursos Inicio */
.cursosTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px;
  color: #1F253D;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 20px;
}
.grid-container .cursoCard {
  background-color: #F6FAFD;
  border-radius: 20px;
  color: #1F253D;
}

/* Cursos Inicio */
/* Industria Inicio */
.cAreaIndustria {
  padding-bottom: 30px;
}

.cIndustrias {
  background-color: #ECF6F5;
}
.cIndustrias .titleIndustria {
  text-align: center;
  padding: 40px 15px;
  color: #1F253D;
}
.cIndustrias .titleIndustria p {
  padding-top: 40px;
}

.area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.area > div h3 {
  text-align: center;
}
.area > div img {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ptClientes {
  padding-top: 50px !important;
}
.ptClientes .clientes {
  padding: 30px 0;
}
.ptClientes .clientes .cClientes div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.ptClientes .clientes .cClientes div img {
  width: 80%;
}

/* Industria Fin */
/*Main Contacto Inicio*/
.titleIndustria {
  text-align: center;
  padding: 40px 15px;
  color: #1F253D;
}

.imgContact {
  background-color: #F6FFFC;
}
.imgContact .imgcContact {
  width: 70%;
  margin: auto;
  padding: 30px 0;
}

.formIcon {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.formIcon fieldset div {
  display: flex;
}
.formIcon fieldset div input {
  width: 90%;
  border-radius: 10px;
  margin: 15px auto;
  padding: 12px 0 12px 12px;
  outline: none;
}
.formIcon fieldset textarea {
  border-radius: 10px;
  padding: 9px 0 10px 12px;
  outline: none;
}
.formIcon img {
  width: 8%;
  margin-right: 8px;
}

.btn-center {
  margin: 14px auto !important;
  display: flex !important;
  padding: 5px 20px !important;
  justify-content: center !important;
  align-items: center !important;
}

.btn-help:hover {
  border: solid 1px #00a94d !important;
}

.mtHelpIcon {
  display: flex;
  align-items: flex-start;
}
.mtHelpIcon img {
  display: flex;
}

/*Main Contacto Fin*/
/*Footer*/
footer {
  background-color: #F6FFFC;
}
footer .fContainer {
  display: flex;
  justify-content: center;
  padding: 30px 15px;
}
footer .fContainer .footerLogo {
  width: 30%;
  display: flex;
  align-items: center;
  font-size: 45px;
  color: #1F253D;
  padding-bottom: 30px;
}
footer .fContainer .footerMenu ul {
  display: flex;
}
footer .fContainer .footerMenu ul li a {
  color: #1F253D;
}
footer .fContainer .footerMenu ul li a:hover {
  color: #00a94d;
}
footer .fContainer .redesSociales {
  display: flex;
  align-items: center;
}
footer .copyright {
  background-color: #00a94d;
  padding: 10px 0;
  font-size: x-small;
}
footer .copyright p {
  margin-bottom: 0;
  text-align: center;
  color: #F6FFFC;
}

/***** M O B I L E *****/
/* Extra Small Devices, Phones */
@media (max-width: 479px) {
  .equipoImg {
    flex-direction: column;
  }
  .equipoImg article {
    width: 100%;
  }

  .cursoCard {
    width: 80%;
    margin: auto;
  }
}
/* Small Devices, Tablets */
@media (min-width: 480px) and (max-width: 767px) {
  .equipoImg article {
    width: 50%;
  }
  .equipoImg article .teamImg {
    background-size: contain;
  }
}
/* Small Devices, Nav */
@media (max-width: 767px) {
  .check-btn, .checkbtn {
    display: block;
  }

  .enlace {
    padding-left: 20px;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1F253D;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li a {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
  }
  nav ul li a:hover {
    background-size: 100% 2px;
    color: #00a94d;
  }
  nav ul li a:focus {
    background-size: 100% 2px;
    color: #00a94d;
  }
  nav ul li a:active {
    background-size: 100% 2px;
    color: #00a94d;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .txt-left,
.txt-right {
    text-align: center;
    margin-top: 30px !important;
  }

  .txt-left {
    order: 2;
  }

  .img-right {
    order: 1;
  }

  .container article.cursos,
.container article.industria,
.container article.somos {
    padding: 40px 15px;
  }

  .valoresTitle h3 {
    text-align: center;
  }

  .fContainer {
    width: 90%;
  }
}
@media (max-width: 679px) {
  .cServicios > div {
    width: 250px;
    margin: 30px auto;
  }

  .cServicios {
    flex-direction: column;
  }

  .area {
    flex-direction: column;
  }

  .fContainer {
    flex-direction: column;
  }

  .footerMenu ul {
    flex-direction: column;
  }

  .teamImg {
    background-size: contain;
  }

  .area {
    text-align: center;
  }

  .txtArea {
    order: 2;
  }

  .imgArea {
    order: 1;
  }

  .formIcon {
    flex-direction: column;
  }
  .formIcon fieldset textarea {
    width: 100%;
  }

  .mtHelpIcon {
    margin-top: 20px;
  }

  .container .area > div h3 {
    padding: 30px 0;
  }

  .footerMenu ul {
    align-items: start;
    padding-left: 0 !important;
  }
  .footerMenu ul li {
    padding-top: 15px;
  }
  .footerMenu ul .redesSociales {
    justify-content: space-around;
    padding-top: 15px;
  }

  .infoFooter p {
    padding-top: 15px;
  }

  .cursosTitle img {
    width: 12%;
  }
}
@media (min-width: 680px) {
  .area > div {
    width: 50%;
    color: #1F253D;
    margin: auto;
  }

  .formIcon {
    align-items: center;
  }
  .formIcon fieldset {
    width: 50%;
  }
  .formIcon fieldset textarea {
    width: 90%;
  }

  .mtHelpIcon img {
    margin-left: 8px;
  }

  .container .area:nth-child(odd) > div p {
    padding: 30px 0 0 30px;
  }

  .container .area:nth-child(even) > div p {
    padding: 30px 30px 0 0;
    text-align: end;
  }

  .fContainer {
    align-items: center;
  }
  .fContainer .footerMenu {
    text-align: center;
  }
  .fContainer .footerMenu ul {
    align-items: center;
    padding: 40px 0;
  }
  .fContainer .footerMenu li {
    padding-right: 15px;
  }
  .fContainer .footerMenu .redesSociales {
    justify-content: end;
  }
  .fContainer .footerMenu .redesSociales a img {
    width: 60%;
  }

  .cClientes {
    margin: auto;
  }

  .cursosTitle img {
    width: 8%;
  }
}
/* Medium Devices to Large Devices */
@media (min-width: 768px) {
  nav ul li {
    display: inline-block;
  }
  nav ul li a:hover {
    color: #1F253D;
    text-decoration: underline;
    transition: all 0.2s;
    background-size: 100% 2px;
  }
  nav ul li a:focus {
    background-size: 100% 2px;
  }

  .dply {
    display: none;
  }

  .container article.cursos,
.container article.industria,
.container article.somos {
    padding: 15px;
  }

  .equipoImg article {
    width: 33.33%;
  }

  .teamImg {
    background-size: cover;
  }

  .cClientes {
    width: 55%;
    margin: auto;
  }
}
/* CSS Puro */
* {
  padding: 0;
  margin: 0;
  border: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
