/* Cursos Inicio */
.cursosTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
    color: $colorAzul;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 20px;
    .cursoCard {
        background-color: #F6FAFD;
        border-radius: 20px;
        color: $colorAzul;
    }
}
/* Cursos Inicio */