/*Footer*/
footer {
    background-color: #F6FFFC;
    .fContainer {
        display: flex;
        padding: 30px 15px;
            .footerLogo {
                width: 30%;
                display: flex;
                align-items: center;
                font-size: 45px;
                color: $colorAzul;
                padding-bottom: 30px;
            }
            .footerMenu ul {
                display: flex;
                li a {
                    color: $colorAzul;
                    &:hover {
                        color: $colorVerde;
                    }
                }
            }
        .redesSociales {
            display: flex;
            align-items: center;
        }
    }
    .copyright {
        background-color: $colorVerde;
        padding: 10px 0;
        font-size: x-small;
        p {
            margin-bottom: 0;
            text-align: center;
            color: #F6FFFC;
        }
    }
}