/* Index Inicio */
// Var
$colorAzul: #1F253D;
$marginTop: 15px;
$bckgrndSomos: #F5F5F5;
$bckgrndCursos: #E3ECEB;
$bckgrndIndustria: #EEF4F2;

.container article {
    padding: 20px ;
}
// Map
$bckgndColor: (
    somos: $bckgrndSomos,
    cursos: $bckgrndCursos,
    industria: $bckgrndIndustria,
);
@each $nombre, $colorBackground in $bckgndColor {
    .container article.#{$nombre} {
        background-color: $colorBackground;
    }
}
section article.servicios {
    background-color: $colorAzul;
    padding: 35px 0;
}
.img-right img {
    border-radius: 20px 0 20px 20px;
}
.img-left img {
    border-radius: 0 20px 20px 20px;
}
.txt-left {
    text-align: initial;
    padding-right: 15px;
}
.txt-right {
    text-align: end;
    padding-left: 15px;
}
.txt-center {
    margin: auto !important;
}
// Mixin
@mixin fuente($colorAzul) {
    color: $colorAzul;
}
.txt-right {
    @include fuente($colorAzul)
}
.txt-left {
    @include fuente($colorAzul)
}
@mixin marginTop($marginTop) {
    margin-top: 15px;
}
.txt-left p {
    @include marginTop($marginTop)
}
.txt-right p{
    @include marginTop($marginTop)
}
.titleServicios p{
    @include marginTop($marginTop)
}
.servicios {
    padding: 30px;
    .titleServicios {
        text-align: center;
        color: #F6FFFC;
    }
}
// Map
$estilos: (
    bckgndColor: #F6FAFD,
    bRadius: 20px,

);
.cServicios > div  {
    background-color: map-get($estilos, bckgndColor);
    border-radius: map-get($estilos, bRadius);
    color: $colorAzul;
}
.serviciosCard {
    margin-top: 30px !important;
    padding: 15px;
    h4 {
        padding: 15px 0;
    }
    .serviciosLogo {
        width: 30%;
    }
}
/* Index Fin */