/* Nosotros Inicio */
.valores {
    .container article  {
        padding: 0px !important;
    }
    // Extends
    .bckMision {
        background-color: $bckgrndSomos;
        padding: 30px 0;
    }
    .bckVision {
        @extend .bckMision;
        background-color: $bckgrndCursos;
    }
    .bckValores {
        @extend .bckMision;
        background-color: $bckgrndIndustria;
    }
    .valoresImg {
        margin: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 70%;
        }
    }
    .valoresTitle {
        padding: 0 20px;
        h3 {
            padding: 20px 0;
            color: $colorVerde;
        }
        p {
            color: $colorAzul;
        }
    }
}
.equipo {
    .titleNosotros {
        text-align: center;
        padding: 40px 0;
        color: $colorAzul;
    }
    .equipoImg {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        .teamImg {
            background-position: center;
            background-repeat: no-repeat;
            height: 250px;
        }
        h4 {
            padding: 20px 0;
            color: $colorVerde;
            text-align: center;
        }
    }
}
/* Nosotros Fin */